<h1>Com Form Builder</h1>
<%= form_with model: @week, builder: InkComponents::FormBuilder do |f| %>
  <% @days.each do |day| %>
    <%= f.check_box  :name, { multiple: true }, day, checked: true %>
  <% end %>

  <%= f.submit "Save" %>
<% end %>

<h1>Sem Form Builder</h1>
<%= form_with model: @week do |f| %>
  <% @days.each do |day| %>
    <%= f.check_box :name, { multiple: true }, day, checked: true %>
  <% end %>

  <%= f.submit "Save" %>
<% end %>

