<h1>Create User</h1>

<%= form_with model: @user, builder: InkComponents::FormBuilder do |f| %>
  <%= f.label :name, data: { controller: "test" } %>
  <%= f.text_field_with_message :name %>

  <br><br>

  <%= f.label :email %>
  <%= f.text_field :email %>


  <br><br>

  <div class="flex">
    <%= f.check_box :paid %>
    <%= f.label :paid, class: "mb-0" %>
  </div>

  <%= f.submit %>
<% end %>
