<li <%= tag.attributes(attributes) %>>
  <span <%= tag.attributes(indicator_attributes) %>>
    <%= number %>
  </span>
  <span>
    <h3 class="font-medium leading-tight"><%= title %></h3>
    <p class="text-sm"><%= description %></p>
  </span>
</li>
