<!-- Modal toggle -->
<%= helpers.button_component(
	builder: :button_tag,
	size: :md,
	data: { "modal-target" => id,
			    "modal-toggle" => id
		  },
) { "Abrir modal" }  %>

<!-- Main modal -->
<div id="<%= id %>" tabindex="-1" data-modal-backdrop="<%= style(type:)%>" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<%= content_tag :div, class: "relative p-4 max-h-full #{style(size:)}" do %>
		<!-- Modal content -->
		<%= content_tag :div, class: "w-full relative bg-white rounded-lg shadow" do %>
		
			<!-- Modal header -->
			<%= header %>

			<!-- Modal body -->
			<%= body %>

			<!-- Modal footer -->
			<%= footer %>
		<% end %>
	<% end %>
</div>