<h1>Com Form Builder</h1>
<%= form_with model: @group, namespace: "teste", builder: InkComponents::FormBuilder do |f| %>
  <% @group.users.each_with_index do |user, index| %>
    <%= f.fields_for :users, user do |user_fields| %>
      <div class="user-fields">
        <%= user_fields.label :name, "Name" %>
        <%= user_fields.text_field :name %>
        <br>
        <%= user_fields.label :email, "Email" %>
        <%= user_fields.email_field :email %>
        <br>
        <%= user_fields.label :paid, "Paid" %>
        <%= user_fields.check_box :paid %>
        <br>
        <%= user_fields.label :type, "Type" %>
        <%= user_fields.text_field :type %>
        <br>
        <%= user_fields.label :color, "Color" %>
        <%= user_fields.color_field :color %>
        <br>
        <%= user_fields.label :arquivo, "Arquivo" %>
        <%= user_fields.file_field :arquivo, multiple: true %>
      </div>
    <% end %>
  <% end %>
  <br><br>
  <%= f.select :color,
    [["Blue", "blue"], ["Pink", "pink"], ["Green", "green"]],
    { prompt: "Selecione", include_blank: false },
    { class: "mt-4" }
  %>
  <br><br>
  <%= f.file_field :arquivo, multiple: true, accept: 'text/html', accept: "image/png,image/gif,image/jpeg", index: 2 %>
  <br><br>
  <%= f.submit "Save Group" %>
<% end %>

<h1>Sem Form Builder</h1>
<%= form_with model: @group, namespace: "teste" do |f| %>
  <% @group.users.each_with_index do |user, index| %>
    <%= f.fields_for :users, user do |user_fields| %>
      <div class="user-fields">
        <%= user_fields.label :name, "Name" %>
        <%= user_fields.text_field :name %>
        <br>
        <%= user_fields.label :email, "Email" %>
        <%= user_fields.email_field :email %>
        <br>
        <%= user_fields.label :paid, "Paid" %>
        <%= user_fields.check_box :paid %>
        <br>
        <%= user_fields.label :type, "Type" %>
        <%= user_fields.text_field :type %>
        <br>
        <%= user_fields.label :color, "Color" %>
        <%= user_fields.color_field :color %>
        <br>
        <%= user_fields.label :arquivo, "Arquivo" %>
        <%= user_fields.file_field :arquivo, multiple: true %>
      </div>
    <% end %>
  <% end %>
  <br><br>
  <%= f.select :color,
    [["Blue", "blue"], ["Pink", "pink"], ["Green", "green"]],
    { prompt: "Selecione", include_blank: false },
    { class: "mt-4" }
  %>
  <br><br>
  <%= f.file_field :arquivo, multiple: true, accept: 'text/html', accept: "image/png,image/gif,image/jpeg", index: 2 %>
  <br><br>
  <%= f.submit "Save Group" %>
<% end %>
